 body {
            font-family: Arial, sans-serif;
            background: #f5f6fa;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
            background: #34495e;
            color: white;
            padding: 15px;
            border-radius: 8px;
        }
        ol {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            background: #f3ebeb;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        li {
            margin: 12px ;
            font-size: 16px;
        }
        a {
            text-decoration: none;
            color: #2980b9;
            font-weight: bold;
            transition: color 0.3s;
        }
        a:hover {
            color: #e67e22;
        }